.update-currency-container {
  max-width: 525px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  margin: 2px;
}

.button-group button {
  width: 55%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #008fb3;
}
